<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.barta.stayintouch">

    <application
        android:name=".StayInTouchApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SCR redesign"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.barta.stayintouch.ui.contactlist.ContactListActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.barta.stayintouch.ui.contactdetail.ContactDetailActivity"
            android:label=""
            android:parentActivityName="me.barta.stayintouch.ui.contactlist.ContactListActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.barta.stayintouch.ui.contactlist.ContactListActivity" />
        </activity>
    </application>

</manifest>